/* Nest Nav */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block;
  color: white; }

nav a {
  display: block;
  padding: 6px 2px;
  text-decoration: none;
  color: white;
  font-size: 16px; }

/* Variables */
body nav, body footer {
  padding-left: 5em; }

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #313130; }

body {
  background-color: #daaa0e;
  padding: 20px 5px;
  /* Nest Main */ }
  body nav {
    margin-bottom: 2em; }
  body main {
    width: 1350px;
    min-height: 535px;
    display: flex;
    padding: 20px;
    background-color: white; }
    body main #intro-text {
      background-color: #d4d5d8;
      width: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column; }
      body main #intro-text span {
        font-family: "Sacramento", cursive;
        font-size: 30px;
        font-weight: bold; }
      body main #intro-text h3 {
        font-size: 30px; }
      body main #intro-text p {
        font-weight: 500; }
      body main #intro-text .submit-button {
        background-color: #daaa0e;
        color: white;
        border: none;
        cursor: pointer;
        height: 3em;
        padding: 0.5em 1em;
        margin-top: 2em; }
    body main #intro-image img {
      height: 100%;
      width: 100%; }
  body footer {
    margin-top: 2em;
    font-size: 14px; }
