/* Nest Nav */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block;
  color: white; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: white; }

/* Variables */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: #313130; }

body {
  background-color: #daaa0e;
  padding: 40px 5px; }

/* Nest Main */
main {
  width: 1350px;
  min-height: 535px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white; }
  main #intro-text {
    background-color: #d4d5d8;
    width: 700px; }
    main #intro-text span {
      font-family: "Sacramento", cursive; }
    main #intro-text button.submit-button {
      background-color: #daaa0e;
      color: #313130;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      width: 7em;
      height: 2.5em;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5em 2em;
      text-align: center;
      text-decoration: none; }
  main #intro-image img {
    height: 100%;
    width: 800px; }
