$color-body: rgb(218, 170, 14);
$color-main: rgb(255, 255, 255);
$color-intro: rgb(212, 213, 216);
$color-font: rgb(49, 49, 48);
$colorMisc1: rgb(170, 240, 113);
$colorMisc2: rgb(58, 107, 212);
$colorMisc3: rgb(127, 236, 55);
