// @import "colors.scss";
@import "nav.scss";

/* Variables */
$font-stack: Arial, Helvetica, sans-serif;
$header-font: "Sacramento", cursive;

%nav-footer-positioning {
  padding-left: 5em;
}

@mixin btn-style {
  background-color: $color-body;
  color: $color-main;
  border: none;
  cursor: pointer;
  height: 3em;
  padding: 0.5em 1em;
  margin-top: 2em;
}

* {
  font-family: $font-stack;
  color: $color-font;
}

body {
  background-color: $color-body;
  padding: 20px 5px;

  nav {
    @extend %nav-footer-positioning;
    margin-bottom: 2em;
  }

  /* Nest Main */
  main {
    width: 1350px;
    min-height: 535px;

    display: flex;
    padding: 20px;
    background-color: $color-main;

    #intro-text {
      background-color: $color-intro;
      width: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      span {
        font-family: $header-font;
        font-size: 30px;
        font-weight: bold;
      }
      h3 {
        font-size: 30px;
      }
      p {
        font-weight: 500;
      }
      .submit-button {
        @include btn-style;
      }
    }

    #intro-image {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  footer {
    @extend %nav-footer-positioning;
    margin-top: 2em;
    font-size: 14px;
  }
}
